__pycache__
.DS_Store
outputs
*.p
.vscode
model/*
*.json
data_quality_output/
results/*
*.log
multirun/
*/*.csv
!test_data/*.csv
*/*.xlsx
*/*.xls
!data/train_data.csv
!data/test_data.csv
*.sh
.cache/
.ipynb_checkpoints/
checkpoints/
models/
!open_autonlu/methods/models
.env
finetuner/
venv/
src/tester.ipynb
dist/
.venv
env

# Sphinx docs
docs/build/
docs/source/api/